/Programa/P_InterficiePersistencia/build/
/Programa/P_Model/build/
/Programa/P_SQL/build/
/Programa/P_Vista/build/
/Programa/P_Model/dist/
/Programa/P_InterficiePersistencia/dist/
/Programa/P_SQL/dist/
/Programa/P_Vista/dist/
/Programa/P1-T5-InterficiePersistencia-ValldauraSendraJordi/build/
/Programa/P1-T5-CapaOracle-ValldauraSendraJordi/build/
/Programa/P1-T5-Model-ValldauraSendraJordi/build/
/Programa/P1-T6-Vista-ValldauraSendraJordi/build/
/Programa/P1-T5-Model-ValldauraSendraJordi/dist/
/Programa/P1-T5-InterficiePersistencia-ValldauraSendraJordi/dist/
/Programa/P1-T5-CapaOracle-ValldauraSendraJordi/dist/
/Programa/P1-T6-Vista-ValldauraSendraJordi/dist/
